/* #121212

#E0E0E0

#B0B0B0

#444444

#888888 */

body {
    margin: 0px;
    background-color: #222;
    color: white;
    font-family: "Roboto", sans-serif;
}

.title-box {
    width: 100%;
    height: 500px;
    background: url("../imgs/woodwall.jpg");
    background-size: cover;
    background-position: center;
    z-index: 1;
    overflow: hidden;


}

.title-box-gradiant {
    width: 100%;
    height: 500px;
    background: linear-gradient(rgba(18, 18, 18, 0), rgba(18, 18, 18, 0.616));
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.sor-kep {
    width: 230px;
    object-fit: cover;
    z-index: -1;
    max-width: 250px;
    margin-right: auto;
    margin-left: auto;

    display: block;
    transform: rotate(-15deg);
    padding-left: 40px;

}


@media (max-width: 1200px) {
    .sor-kep {


        display: block;
        padding-left: 60px;
        margin-right: auto;
        margin-left: auto;
        float: none;
    }
}

@media (max-width: 520px) {
    .sor-kep {

        margin-top: 20px;
        width: 100%;
        display: block;
        padding-left: 70px;
        margin-right: auto;
        margin-left: auto;
        float: none;
    }
}

@media (max-width: 275px) {
    .sor-kep {

        margin-top: 10px;
        width: 100%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        float: none;
    }
}



.title {
    font-family: "Playwrite NZ Basic", cursive;
    font-size: 50px;
    text-align: center;
    margin-bottom: 0px;
    text-shadow: 0px 0px 15px black;
}

.navbar {

    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;

    border-radius: 50px;
    max-width: 1000px;


    padding: 0;
    background: linear-gradient(-45deg, rgba(10, 10, 10, .17) 0, #181818 70%);
    -webkit-text-fill-color: unset;
    border-radius: 5000px;
    border-top: 1px solid rgba(255, 255, 255, .4);
    border-left: 1px solid rgba(255, 255, 255, .4);
    border-right: none;
    border-bottom: none;
    opacity: 100%;
    backdrop-filter: blur(10px);
    z-index: 4;

    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

.navbar-holder {
    width: 100%;
    height: 40px;


    display: flex;
    margin: 0px;
    margin-top: 5px;
    justify-content: center;
}

.navbar a {
    float: left;
    color: white;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    background: linear-gradient(-45deg, rgba(248, 248, 248, 0.075) 0, #d8d6d636 70%);
    padding: 3px 10px;
    border-radius: 100px;
    transition: all 0.3s ease;

}

.navbar a:hover {
    background: linear-gradient(-45deg, rgba(248, 248, 248, 0.089) 0, #d8d6d66c 70%);
    padding: 3px 18px;
}