/* #121212

#E0E0E0

#B0B0B0

#444444

#888888 */

body{
    margin: 0px;
    background-color: #222;
}


.navbar{
    width: 100%;
    height: 40px;
    display: block;
    margin-top: 5px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;

    padding: 0;
    background: linear-gradient(-45deg, rgba(10, 10, 10, .17) 0, #181818 70%);
    -webkit-text-fill-color: unset;
    border-radius: 5000px;
    border-top: 1px solid rgba(255, 255, 255, .4);
    border-left: 1px solid rgba(255, 255, 255, .4);
    border-right: none;
    border-bottom: none;
    opacity: 100%;
    backdrop-filter: blur(10px);
    
}