/* #121212

#E0E0E0

#B0B0B0

#444444

#888888 */

body{
    margin: 0px;
    background-color: #222;
    color: white;
    font-family: "Roboto", sans-serif;
}
.title-box{
    width: 100%;
    height: 500px;
    background-color: black;
    z-index: 1;
    overflow: hidden;
   
}
.title-box img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    z-index: -1;
    max-width: 531px;
    margin-left: auto;
    float: right;
    display: block;
    transform: rotate(-15deg);
}


@media (min-width: 1250px) {
    .title-box img{
        width: 100%;
        height: 500px;
        object-fit: cover;
        z-index: -1;
        max-width: 531px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    


}

.title{
    font-family: "Playwrite NZ Basic", cursive;
    font-size: 50px;
    text-align: center;
    margin-bottom: 0px;
}

.navbar{
   
    width: 100%;
    
    height: 40px;
    display:flex;
    align-items: center;
    margin-top: 5px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;


    padding: 0;
    background: linear-gradient(-45deg, rgba(10, 10, 10, .17) 0, #181818 70%);
    -webkit-text-fill-color: unset;
    border-radius: 5000px;
    border-top: 1px solid rgba(255, 255, 255, .4);
    border-left: 1px solid rgba(255, 255, 255, .4);
    border-right: none;
    border-bottom: none;
    opacity: 100%;
    backdrop-filter: blur(10px);
    z-index: 4;

    padding-left: 10px;
    padding-right: 10px;

    
}

.navbar a{
   float: left;
    color: white;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    background: linear-gradient(-45deg, rgba(248, 248, 248, 0.075) 0, #d8d6d636 70%);
    padding: 3px 10px;
    border-radius: 100px;
    transition: all 0.3s ease;

}
.navbar a:hover{
    background: linear-gradient(-45deg, rgba(248, 248, 248, 0.089) 0, #d8d6d66c 70%);
    padding: 3px 18px;
}

