/* #121212

#E0E0E0

#B0B0B0

#444444

#888888 */

body {
    margin: 0px;
    background-color: #222;
    color: white;
    font-family: "Roboto", sans-serif;
}

.title-box {
    width: 100%;
    height: 500px;
    background: url("../imgs/woodwall.jpg");
    background-size: cover;
    background-position: center;
    z-index: 1;
    overflow: hidden;


}

.title-box-gradiant {
    width: 100%;
    height: 500px;
    background: linear-gradient(rgba(18, 18, 18, 0), rgba(18, 18, 18, 0.616));
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.sor-kep {
    width: 230px;
    object-fit: cover;
    z-index: -1;
    max-width: 250px;
    margin-right: auto;
    margin-left: auto;

    display: block;
    transform: rotate(-15deg);
    padding-left: 40px;

}





@media (min-width: 1200px) {
    .sor-kep {


        float: right;
        margin-right: 10%;
     
    }
    .title-box {
    
        height: 550px;
        
    
    
    }

    .tiltle-p{
        font-size: 20px;
        color: rgb(204, 204, 204);
        width: 300px;
        margin-left: 10%;
        padding-left: 15px;
        margin-top: 0px;
    }

    .title-box-gradiant {
        width: 100%;
        height: 550px;
        background: rgba(18, 18, 18, 0.822);
        background: linear-gradient(90deg,rgba(18, 18, 18, 0.849)30%, rgba(112, 111, 63, 0) 100%);
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        
    }
    .title {
        font-family: "Playwrite NZ Basic", cursive;
        font-size: 50px;
        margin-left: 10%;
        margin-bottom: 0px;
        text-shadow: 0px 0px 15px black;
        margin-top: 150px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .tiltle-container{
        width: 50%;
        height: 100%;
    
    }

    .img-container{
        width: 50%;
        height: 100%;
        padding-top: 150px;
    }

    .tiltle-content{
        display: flex;
        width: 70%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;

    }
}


@media (max-width: 1200px) {
    .sor-kep {


        display: block;
        padding-left: 60px;
        margin-right: auto;
        margin-left: auto;
        float: none;



    }

    .title {
        font-family: "Playwrite NZ Basic", cursive;
        font-size: 50px;
        text-align: center;
        margin-bottom: 0px;
        text-shadow: 0px 0px 15px black;
    }
    .tiltle-p{
        display: none;
    }

    .tiltle-container{
        width: fit-content;
        height: fit-content;
      
    }

    .img-container{
        width: 100%;
        height: fit-content;
      
     

    }

    .tiltle-content{
        display: block;
        width: fit-content;
        height: fit-content;
        
        margin-left: auto;
        margin-right: auto;
    }
    
    
    
    
    
}

@media (max-width: 520px) {
    .sor-kep {

        margin-top: 20px;
        width: 100%;
        display: block;
        padding-left: 70px;
        margin-right: auto;
        margin-left: auto;
        float: none;
    }
}

@media (max-width: 275px) {
    .sor-kep {

        margin-top: 10px;
        width: 100%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        float: none;
    }
}



.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    max-width: 1000px;


    padding: 0;
    background: linear-gradient(-45deg, rgba(10, 10, 10, .17) 0, #181818 70%);
    -webkit-text-fill-color: unset;
    border-radius: 5000px;
    border-top: 1px solid rgba(255, 255, 255, .4);
    border-left: 1px solid rgba(255, 255, 255, .4);
    border-right: none;
    border-bottom: none;
    opacity: 100%;
    backdrop-filter: blur(10px);
    z-index: 4;

    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;



}




.navbar-holder {
    width: 100%;
    height: 40px;


    display: flex;
    margin: 0px;
    margin-top: 5px;
    justify-content: center;
}

.navbar a {
    float: left;
    color: white;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    background: linear-gradient(-45deg, rgba(248, 248, 248, 0.075) 0, #d8d6d636 70%);
    padding: 3px 10px;
    border-radius: 100px;
    transition: all 0.3s ease;


}

.navbar a:hover {
    background: linear-gradient(-45deg, rgba(248, 248, 248, 0.089) 0, #d8d6d66c 70%);
    padding: 3px 18px;
}



.nav-toggle {
    display: none;

    background: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
}

.hamburgericon {
    display: block;


    transition: transform 0.25s ease, opacity 0.25s ease;
}

.activeNavbar {
    background: linear-gradient(-45deg, rgba(88, 68, 3, 0.089) 0, #FBB117 70%) !important;
}

@media (max-width: 768px) {



    .nav-toggle {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .navbar {
        width: 100%;
        height: 40px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 8px;
        background: linear-gradient(-45deg, rgba(10, 10, 10, .17) 0, #181818 70%);
        padding: 6px 10px;
        position: relative;
        top: auto;
        right: auto;
        border-radius: 5000px;

    }


    .navbar a {
        display: none;
    }


    .navbar.open {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background: linear-gradient(-45deg, rgba(10, 10, 10, .17) 0, #181818 70%);
        padding: 12px;
        position: absolute;
        height: fit-content;
        border-radius: 6px;
        z-index: 50;
        width: 100%;
        margin: 0px;
        border-radius: 10px;

        padding-left: 10px;
        padding-right: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .navbar.open a {
        display: block;
        padding: 6px 90px;
    }



    .hamburgericon {
        display: block;
        width: 50px;
        transition: transform 0.25s ease, opacity 0.25s ease;
    }

    .nav-toggle.open .hamburgericon {
        transform: rotate(180deg);
    }


}







.container {
    display: flex;
    border: 1px solid #ddd;
    max-width: 900px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
}


.sidebar {
    width: 210px;
    flex-shrink: 0;
}

.menu-item {
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.menu-item span {
    content: "▼";
    font-size: 10px;
    margin-right: 10px;
    color: #ffffff;
}

.content {
    flex-grow: 1;
    padding: 20px;
    border-left: 1px solid #ddd;
}


h3 {
    margin-top: 0;
    color: #ffffff;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-color: #FBB117;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

.note {
    font-style: italic;
    font-size: 13px;
    color: #ffffff;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    color: #ffffff;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

th {
    font-weight: bold;
    color: #ffffff;
}

tr:last-child td {
    border-bottom: none;
}


.packaging-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
}

.packaging-item {
    list-style-type: disc;
    margin-left: 20px;
    color: #ffffff;
}