::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #252525;
}

::-webkit-scrollbar-thumb {
  background: #919191;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d1d1d1;
}

/* #121212

#E0E0E0

#B0B0B0

#444444

#888888 */



.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

html {
    scroll-behavior: smooth;
}

body {
  margin: 0px;
  background-color: #222;
  color: white;
  font-family: "Roboto", sans-serif;
}


.video-background {
  position: fixed; /* Rögzíti a videót, így görgetésnél is a háttérben marad */
  top: 0;
  left: 0;
  width: 100vw; /* A képernyő szélességének 100%-a */
  height: 100vh; /* A képernyő magasságának 100%-a */
  object-fit: cover; /* Ez vágja le a széleket úgy, hogy a videó kitöltse a teret anélkül, hogy összenyomódna */
  z-index: -1; /* Biztosítja, hogy minden más elem a videó elé kerüljön */
  pointer-events: none; /* Teljesen "kattinthatatlanná" teszi, így semmilyen trükkel nem lehet megállítani */
}

/* Példa a tartalom formázására (hogy látszódjon a videó előtt) */
.video-content {
  position: relative;
  z-index: 1; /* A videó rétege fölé helyezi */
  color: white; /* Fehér betűszín, hogy elüssön a háttértől */
  text-align: center;
  font-family: sans-serif;
  /* Árnyék, hogy világos videóknál is olvasható maradjon a szöveg */
}
.bg-color-set{
  width: 100%;
  height: fit-content;
  background-color: #222;
}


.bg-color-set-alt{
  width: 100%;
  height: fit-content;
  background-color: #222;
  padding-top: 60px;
  padding-bottom: 10px;
}


.title-box {
  width: 100%;
  height: 500px;
  background: url("../imgs/woodwall.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
  overflow: hidden;
}

.title-box-gradiant {
  width: 100%;
  height: 500px;
  background: linear-gradient(rgba(18, 18, 18, 0), rgb(18, 18, 18));
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  backdrop-filter: blur(2px);
}

.sor-kep {
  width: 230px;
  object-fit: cover;
  z-index: -1;
  max-width: 250px;
  margin-right: auto;
  margin-left: auto;

  display: block;
  transform: rotate(-15deg);
  padding-left: 40px;
}

@media (min-width: 1200px) {
  .sor-kep {
    float: right;
    margin-right: 10%;
  }

  .title-box {
    height: 550px;
  }

  .tiltle-p {
    font-size: 20px;
    color: rgb(204, 204, 204);
    width: 300px;
    margin-left: 10%;
    padding-left: 15px;
    margin-top: 0px;
  }

  .title-box-gradiant {
    width: 100%;
    height: 550px;
    background: rgba(18, 18, 18, 0.822);
    background: linear-gradient(
      90deg,
      rgba(18, 18, 18, 0.849) 30%,
      rgba(112, 111, 63, 0) 100%
    );
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  .title {
    font-family: "Playwrite NZ Basic", cursive;
    font-size: 50px;
    margin-left: 10%;
    margin-bottom: 0px;
    text-shadow: 0px 0px 15px black;
    margin-top: 150px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .tiltle-container {
    width: 50%;
    height: 100%;
  }

  .img-container {
    width: 50%;
    height: 100%;
    padding-top: 150px;
  }

  .tiltle-content {
    display: flex;
    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1012px;
  }

  .tiltle-button {
    border-radius: 100px;
    background-color: #fbb117;
    padding: 10px 25px;
    font-size: 20px;
    color: white;
    border: none;
    margin-left: 10%;
    margin-top: 30px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.425);
    transition: all 0.3s ease;
  }

  .tiltle-button:hover {
    background-color: #9b701367;
    padding: 10px 35px;
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
  }
}

@media (max-width: 1200px) {
  .tiltle-button {
    display: none;
  }

  .sor-kep {
    display: block;
    padding-left: 60px;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }

  .title {
    font-family: "Playwrite NZ Basic", cursive;
    font-size: 50px;
    text-align: center;
    margin-bottom: 0px;
    text-shadow: 0px 0px 15px black;
  }

  .tiltle-p {
    text-shadow: 0px 0px 10px black;

    font-size: 20px;
    color: rgb(255, 255, 255);
    width: 300px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
  }

  .tiltle-container {
    width: fit-content;
    height: fit-content;
  }

  .img-container {
    width: 100%;
    height: fit-content;
  }

  .tiltle-content {
    display: block;
    width: fit-content;
    height: fit-content;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media (max-width: 520px) {
  .sor-kep {
    margin-top: 20px;
    width: 100%;
    display: block;
    padding-left: 70px;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
}

@media (max-width: 275px) {
  .sor-kep {
    margin-top: 10px;
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
}

.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  max-width: 1000px;

  padding: 0;
  background: linear-gradient(-45deg, rgba(10, 10, 10, 0.17) 0, #181818 70%);
  -webkit-text-fill-color: unset;
  border-radius: 5000px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  border-right: none;
  border-bottom: none;
  opacity: 100%;
  backdrop-filter: blur(10px);
  z-index: 4;

  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.navbar-holder {
  width: 100%;
  height: 40px;

  display: flex;
  margin: 0px;
  margin-top: 5px;
  justify-content: center;
}

.navbar a {
  float: left;
  color: white;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  background: linear-gradient(
    -45deg,
    rgba(248, 248, 248, 0.075) 0,
    #d8d6d636 70%
  );
  padding: 5px 10px;
  border-radius: 100px;
  transition: all 0.3s ease;
}

.navbar a:hover {
  background: linear-gradient(
    -45deg,
    rgba(248, 248, 248, 0.089) 0,
    #d8d6d66c 70%
  );
  padding: 3px 18px;
}

.nav-toggle {
  display: none;

  background: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
}

.hamburgericon {
  display: block;

  transition:
    transform 0.25s ease,
    opacity 0.25s ease;
}

.activeNavbar {
  background: linear-gradient(
    -45deg,
    rgba(88, 68, 3, 0.089) 0,
    #fbb117 70%
  ) !important;
}

@media (max-width: 768px) {
  .nav-toggle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .navbar {
    width: 100%;
    height: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: linear-gradient(-45deg, rgba(10, 10, 10, 0.17) 0, #181818 70%);
    padding: 6px 10px;
    position: relative;
    top: auto;
    right: auto;
    border-radius: 5000px;
  }

  .navbar a {
    display: none;
  }

  .content {
    transform: scale(80vw) !important;
  }

  .navbar.open {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient(-45deg, rgba(10, 10, 10, 0.17) 0, #181818 70%);
    padding: 12px;
    position: absolute;
    height: fit-content;
    border-radius: 6px;
    z-index: 50;
    width: 100%;
    margin: 0px;
    border-radius: 10px;

    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .navbar.open a {
    display: block;
    padding: 6px 90px;
  }

  .hamburgericon {
    display: block;
    width: 50px;
    transition:
      transform 0.25s ease,
      opacity 0.25s ease;
  }

  .nav-toggle.open .hamburgericon {
    transform: rotate(180deg);
  }
}

.container {
  display: flex;
  border: 1px solid #ddd;
  max-width: 900px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
}

.sidebar {
  width: 210px;
  flex-shrink: 0;
}

.menu-item {
  padding: 15px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.menu-item span {
  content: "▼";
  font-size: 10px;
  margin-right: 10px;
  color: #ffffff;
}

.content {
  flex-grow: 1;
  padding: 20px;
  border-left: 1px solid #ddd;
}

h3 {
  margin-top: 0;
  color: #ffffff;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-color: #fbb117;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

.note {
  font-style: italic;
  font-size: 13px;
  color: #ffffff;
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  color: #ffffff;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

th {
  font-weight: bold;
  color: #ffffff;
}

tr:last-child td {
  border-bottom: none;
}

.packaging-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 20px;
}

.packaging-item {
  list-style-type: disc;
  margin-left: 20px;
  color: #ffffff;
}

@media (max-width: 950px) {
  .container {
    display: flex;
    height: 330px;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    margin-top: 60px;
  }

  .content {
    border: none;
    border-top: 1px solid #ddd;
    transform: scale(0.7);
  }

  .sidebar {
    display: flex;
    justify-content: center;
  }

  .menu-item {
    min-width: 150px;
    border-radius: 0px 0px 10px 10px;
  }

  #tapertek {
    border-left: 1px solid white !important;
  }
}

/* SÖR LEÍRÓ BLOKK */

.beer-intro {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.beer-intro-inner {
  max-width: 900px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.beer-text {
  flex: 1;
}

.beer-title {
  font-size: 40px;
  margin-bottom: 15px;
  color: #ffffff;
      text-decoration: underline;
    text-decoration-color: #fbb117;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

.beer-desc {
  color: #ccc;
  font-size: 18px;
  line-height: 1.6;
      font-weight: 300;
}

.beer-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.beer-image img {
  width: 100px;
}
@media (max-width: 600px) {
  .beer-intro-inner {
    display: block;
  }
}

/*  SÖR STATS BLOKK */



.stats-container {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  background-color: #22222200;
  margin-top: 80px;
  margin-bottom: 80px;
}

.stats-wrapper {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  align-items: flex-end;
}

.stat-item {
  flex: 1;
  text-align: center;
  position: relative;
  padding: 0 20px;
  border-right: 1px solid #e0e0e0;
}

.stat-item:last-child {
  border-right: none;
}

.badge-container {
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.badge {
  background-color: #ffffff;
  color: #fbb117;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 4px 12px;
  transform: skewX(-10deg);
  display: inline-block;
  
}

.stat-number {
  font-size: 3.5rem;
  color: #fbb117;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 10px;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}

.stat-label {
  font-size: 0.95rem;
  color: #ffffff;
  font-weight: 300;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}

@media (max-width: 1024px) {
  .stats-wrapper {
    flex-wrap: wrap;
  }

  .stat-item {
    flex: 0 0 50%;
    box-sizing: border-box;
    margin-bottom: 40px;
    border-right: none;
  }

  .stat-item:nth-child(odd) {
    border-right: 1px solid #e0e0e0;
  }

  .badge-container {
    top: -35px;
  }
}

@media (max-width: 600px) {
  .stat-item {
    flex: 0 0 100%;
    border-right: none;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  .stat-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .badge-container {
    position: relative;
    top: 0;
    margin-bottom: 5px;
  }
}

/*  SÖR RÓLUNK BLOKK */

.rolunk-text {
    text-decoration: underline;
    text-decoration-color: #fbb117;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
    text-align: center;
}

.rolunk-altext{
    text-decoration: none;
    color: #e0e0e0;
    font-weight: 300;
    width: 100%;
    max-width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 18px;
    margin-top: 30px;
}

.story-section {
  width: 100%;
  padding: 80px 0px;
  display: flex;
  justify-content: center;
}

.story-container {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.story-row {
  display: flex;
  align-items: center;
  gap: 60px;
  flex-direction: row;
}

.story-row:nth-child(even) {
  flex-direction: row-reverse;
}

.story-image {
  flex: 1;
  width: 100%;
}

.story-image img {
  width: 100%;
  height: auto;
  border-radius: 23px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  display: block;
}

.story-dark {
  background-color: #1b1b1b;

  display: block;
  border-radius: 10px;
 padding: 10px;
}

.story-text {
  flex: 1;
}

.story-text h3 {
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.story-text p {
  font-family: "Roboto", sans-serif;
  color: #ccc;
  font-size: 1.1rem;
  line-height: 1.6;
  margin: 0;
}
.rolunk-altext-darkbg{
     background-color: #1b1b1b;
     width: 100%;
     border-radius: 10px;
     padding-top: 20px;
     padding-bottom: 38px;
}

@media (max-width: 900px) {
  .story-row,
  .story-row:nth-child(even) {
    flex-direction: column-reverse;
    text-align: center;
    gap: 30px;
  }

  .story-text h3 {
    font-size: 1.75rem;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .story-image {
    margin-top: 10px;
    width: 80%;
  }
}



/*  SÖR FOOTER BLOKK */


footer {
  width: 100%;
  padding: 20px 0;
  background-color: #1b1b1b;
  text-align: center;
}

footer span {
  color: #fbb117;
  font-size: 14px;
  margin: 0;
}